.container {
	width: 80%;
	margin-top: 10%;
}
#search {
	width: 60%;
	margin: 0 auto;
}

/*shadow behind input and buttons*/
.input-group,
.random {
	box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}

.fa:hover,
.fa:active,
.random:hover,
h3 {
	color: #66afe9;
}

.col-sm-2,
.col-md-12 {
	padding-left: 5;
}

.col-xs-12 {
	padding-top: 25px;
}
.col-xs-1,
.col-sm-10,
.col-md-10 {
	padding-right: 0px;
}

p {
	color: #787878;
}

/*remove underline when hover over links*/
a {
	text-decoration: none !important;
}
.wikRow:hover {
	background-color: #f0f0f0;
	border-radius: 4px;
}

#display {
	padding-top: 6%;
	padding-bottom: 10%;
}

h3 {
	margin-top: 0;
}

/*override bootstrap to show cancel icon in search input */
input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}
